
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Login</h2>

    @if (ViewBag.Poruka != null)
    {
        <div class="alert alert-danger w-25 fw-bold text-center">@ViewBag.Poruka</div>
    }

<div class="container h-50 w-50 rounded bg-dark bg-opacity-25">
    <form method="post" action="~/Auth/Prijava" class=" my-3  py-3">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label ">Korisnicko ime</label>
            <input type="text" class="form-control" id="email" name="username" aria-describedby="username" placeholder="Korisnicko ime">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Lozinka</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>
        <button type="submit" class="btn btn-dark">Prijavi se</button>
    </form>
    <p class="mt-3 ">Nemate nalog? <a href="~/Auth/RegistracijaRedirekcija">Registrujte se</a></p>
</div>





